body{
    margin: auto; 
    font-family: Lyft Pro,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
    /*max-width: 1200px;*/
    padding: 10px;

}

#custon-Cont-1 #li-1 {
    color:#5245C2;
}

#custon-Cont-1 #right1{

    position: absolute;
    right: 100px;

}
#custon-Cont-1 #right2{

    position: absolute;
    right: 0;


}

.zone-red{
    background-color:#FFD6E5;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 600px;
}

.zone-red h1{
    margin-top: 0px;
    align-self: flex-start;
    font-size: 16px;
    color: #5245C2;
}
.zone-red h2{
    margin-top: 20px;
    align-self: center;
    font-size: 80px;
    color: #5245C2;
    /*display: block;*/
}

.blue-grid-items {
    width: 75%;
    height: 250px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}


.zone-red input{
    border-radius: 0.5rem;
    width: 400px;
}

.zone-red #button{
    background-color:#5245C2;
    color: #FFFFFF;
    min-width: 200px;
    padding: 1rem 2rem;
    box-shadow: 0 5px 0 rgba(17, 17, 31, 0.25);
    margin-top: 15px;
    cursor: pointer;
    border-radius:99999rem;

}
.zone-blue{
    display: grid;
    grid-template-columns: repeat(5, 6fr);
    grid-auto-rows: auto;
    column-gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.zone-blue #item1{
grid-column-start: 2;

}
.zone-blue #back_img1{
    grid-column-start: 5;
    /*grid-column-end:5;*/
    /*align-content: right;*/
}

  
#custon-Cont-1 .bg-img{
height: 600px;;
background-image: url("https://images.ctfassets.net/q8mvene1wzq4/3UsEjP8gZqlGqsPoe954mj/6b305dc4ab35430c50eddb69fa04788b/Bg_Illustration.jpg");
background-position:center;
background-repeat:no-repeat;
background-size:cover;

}

.zone-yellow {
    margin-top: 50px;
}

/*#carouselExampleIndicators {
    height: 100%;
}

.carousel-inner {
    height: 350px;
}*/

.zone-red {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zone-red-inner {
    max-width: 900px;
}

h1 {
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

#phone {
    width: 500px;
    height: 50px;
    text-align: center;
}

#g1 {
    height: 500px;
}


 .bg-img .carousel-item {
    height: 50%;
    /* width: 20px; */
    max-width: 50%;
    position: relative;
    /* align-self: center; */
    left: 50px;  
    right: 50px;  
    left: 300px;
    top: 70px;
    margin-bottom: 100px;
}

.iframe {
    width: 100%;
}

#IF1{
background-image:url("https://images.ctfassets.net/q8mvene1wzq4/YDmlFOZQ1JuXw6vh6j2yU/dc540388acaed839ad7cc56cecb5c8ee/Video_2x.jpg");
    margin-top: 300px;
    /*max-width: 100%;*/
    /*margin-left: 250px,250px;*/
    background-size:cover;
    height: 500px;
    width: 100%;
}

#vid-container{
    /*height: 900px;*/
    margin-top: 300px;
    display: none;
}

#vd1 {
    margin-left:250px;
}

#carousel-description {
    text-align: right;
}